<h2>User List</h2>
<table border="1">
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
  <% users.forEach(user => { %>
    <tr>
      <td><%= user._id %></td>
      <td><%= user.email %></td>
      <td>
        <!-- Action buttons yaha add kar sakte ho -->
      </td>
    </tr>
  <% }) %>
</table>
<a href="/admin/dashboard">Back</a>
